{:lein         {:profile "+shadow-cljs"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [macro-repro.core]}}
                      :devtools   {:after-load macro-repro.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler macro-repro.handler/app}}}
