{:show-docs-arity-on-same-line? true
 :clean                         {:ns-inner-blocks-indentation :same-line
                                 :sort                        {:ns      true
                                                               :require true
                                                               :import  true
                                                               :refer   true}}}
